:root {  
    --black: #000;
    --black50: rgba(0,0,0,0.5);
    --black60: rgba(0,0,0,0.6);
    --black70: rgba(0,0,0,0.7);  
    --black90: rgba(0,0,0,0.9);

    --white: #fff; 
    --white70: rgba(255,255,255,0.7);
    --white80: rgba(255,255,255,0.8);
    --white90: rgba(255,255,255,0.9);

    --silver: #ccc;
    --greyD: #333;

    --greenL: #00a104;  /* L:Light / D:Dark*/
    --greenD: #005201; 

    --purpleL: #7A6FDE;
    --purpleL60: rgba(122,111,222,0.6);
    --purpleD: #433D7A;

    --turquoise: #69C7C5; 
    --redL: #C80000;
    --redD: #960000;
  }
  

@font-face {
    font-family: 'mySlab';
    src: url('/fonts/GE703XBC.TTF') format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/google-fonts/truetype/TitilliumWeb-Regular.ttf) format('truetype');
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes c-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes c-fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

html{
    font-family: 'Titillium Web', sans-serif !important;
    overflow: hidden;
}
::selection{
    color:var(--white);
    background:var(--greenL);
}
::-moz-selection{
    color:var(--white);
    background:var(--greenL);
}

a{
    color: var(--greenL) !important;
}

h1{
    color: var(--greenL) !important;
    font-family: mySlab;
    text-shadow: 0 0 3px var(--black50);
    font-size: max(3.5vh,20px);
    font-weight: normal;
    text-align: center;
    margin: 5px;
    margin-left: 12px;
}

h1#title {
    letter-spacing: 0.12vw;
    font-size: max(5vh,40px);
    cursor: pointer;
}

#title:hover {
    text-shadow: 0 0 8px var(--purpleL60);
}

hr {
    height: 1px;
    border-width:0;
    color:var(--silver);
    background-color:var(--silver);
}

textarea{
    width: 100%; 
    resize: none;
    color: var(--white);
    background: var(--black50);
    border: 1px solid var(--white);
    border-radius: 5px;
}

p{
    vertical-align: top;
    margin: 0px !important;
}
.content{
    height: 84%;
    width: 100%;
    overflow: auto;
    font-size: max(1.75vh,12px);
    line-height:1.4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content_ta{
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: max(1.75vh,12px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    flex: 0 0 5%;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
}

.title_ta{
    flex: 0 0 5%;
    width: 100%;
    padding-top: 1.25%;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: max(1.5vh,11px);
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}

.label_ta{
    height: 25px; 
    width: 390px;
    margin: 10px;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: max(1.5vh,11px);
    text-align: left;
    padding: 0 5px 0 5px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    overflow-x: hidden;
}

/* leaflet popup */
.leaflet-popup-content{
    width: 90% !important;
    height: 95% !important;
    margin: 5%;
    line-height: 1;
    display: flex;
    flex-flow: column;
}

.leaflet-popup-content-wrapper {
    width: 500px;
    height: 600px;
    background: var(--black90);
    color: var(--white);
    border: 2px solid var(--greenL);
    border-radius: 10px;
    box-shadow: none;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    .leaflet-popup-content-wrapper {
        background: var(--black70);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.leaflet-popup-tip-container {
	width: 490px;
    height: 50px;
    background: transparent;
    margin: -2px;
    border: none;
    border-top: 2px solid var(--greenL);
    box-shadow: none;
}
    
.leaflet-popup-tip {     
    background: transparent;
    border: none;
    box-shadow: none;
    }

/* SCROLLBAR */
/* Chrome */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--greenL);
}    
div.story-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--purpleL);
}    

/* Firefox */
.scroll {
    scrollbar-width: 10px;
    scrollbar-color: var(--greenL) transparent;
}

.story-scroll {
    scrollbar-width: 10px;
    scrollbar-color: var(--purpleL) transparent;
}

/* attribution style */
.leaflet-control-attribution{
    background-color: var(--black50) !important;
    color: var(--white);
}

/* fix seams between tiles */
.leaflet-tile-container img {
    width: 256.5px !important;
    height: 256.5px !important;
}

.leaflet-control-attribution{
    font-size: max(1.5vh,12px) !important;
}

.leaflet-control-mouseposition{
    font-size: max(1.5vh,12px) !important;
}

.leaflet-container {
    font-family: 'Titillium Web', sans-serif !important;
}

/* CONTROLS */
.stories-outer{
    position: relative;
    width: 19.7vw; 
    min-width: 250px;
    height: 75vh;
    overflow: hidden;
    border: 1px solid var(--black);
    border-radius: 10px;
    margin: 10px;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;
    display: none;
    box-shadow: 0 0 5px var(--black);
}

.stories-panel {
    background:var(--white90); 
    height: 75vh;
    overflow-y: scroll;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .stories-panel {
        background:var(--white70); 
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.stories-panel_tiles{
    width: 17.73vw;
    min-width: 225px;
    height: 15vw;
    min-height: 200px;
    margin: 5%;
    overflow: hidden;
    cursor: pointer;
}

.stories-panel_tiles_title{
    height: 40%;
    color: var(--purpleL);
    font-family: mySlab;;
    font-size: max(max(3.5vh,2vw),30px);
    text-align: left;
    vertical-align: middle;
    line-height: max(3.5vh,25px);
    padding-top: max(1vh,10px);
}

.story-outer{
    position: relative;
    width: 35vw;  
    min-width: 400px;
    height: 75vh;
    overflow: hidden;
    border: 1px solid var(--black);
    border-radius: 10px;
    margin: 10px;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;
    display: none;
    box-shadow: 0 0 5px var(--black);
}
.story {
    position: relative;
    background:var(--white90); 
    height: 71vh;
    padding: 2vh;
    overflow-y: scroll;
    color: var(--black);
    font-size: max(2vh,12px);
    text-align:left;
}

@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .story {
        background:var(--white70); 
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.story-images{
    width: 100%;
    height: auto;
    cursor: nesw-resize;
}

.larger-img {
    position: absolute; 
    left:0; 
    top:0;
    height: 100%; 
    width: 100%; 
    background: var(--black90); 
    z-Index: 1600; 
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .larger-img {
        background: var(--black70); 
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

/* About Panel */
.tut-panel {
    position: absolute;
    left: 17;
    top: 10vh;
    height: 28vh;
    width: 25vw;
    text-align: left;
    font-size: max(2vh,12px);
    color: var(--black);
    background:var(--white80); 
    box-shadow: 0 0 5px var(--black);
    border-radius:10px;
    padding: 2vh;
    margin-top: -2vh;
}

.tut-text{
    color: var(--black);
    height: 19.5vh;
    text-align: left;
    padding-bottom: 1vh;
}

@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .tut-panel {
        background: var(--white70); 
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.about {
    width: 40vw; 
    height: 50vh; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin: -25vh 0 0 -20vw; 
    z-Index:2000;
    font-size: max(2vh,12px);
    color: var(--black);
    background:var(--white90); 
    box-shadow: 0 0 5px var(--black);
    border-radius:10px;
    padding: 2vh;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .about {
        background: var(--white70); 
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.about-text{
    color: var(--black);
    height: 42vh;
    text-align: left;
    padding-bottom: 1vh;
}

.about-panel_tiles_title{
    height: 40%;
    color: var(--black);
    font-family: mySlab;;
    font-size: max(max(3.5vh,2vw),30px);
    text-align: left;
    vertical-align: middle;
    line-height: max(3.5vh,25px);
    padding-top: max(1vh,10px);
}

.label{
    background: transparent;
    color: var(--turquoise);
    border: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: max(1.75vh,12px);
    text-shadow: 0 0 1px var(--black);
    box-shadow: 0 0 0 transparent;
}
.label::before{
    display: none;
}

.label-info{
    background: var(--black60);
    color: var(--redL);
    border: none;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: max(1.75vh,12px);
    font-weight: bold;
    box-shadow: 0 0 0 transparent;
}
.label-info::before{
    display: none;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .label-info{
        background:var(--black50); 
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.label-input{
    width: 35vw;
    background: var(--black90);
    color: var(--white);
    border: 2px solid var(--greenL);
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: max(2.2vh,12px);
}

.leaflet-top{
    z-index: 1100 !important;
}

/* Buttons */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--greyD);
    color: var(--white);
    border: none;
    border-radius: 5px;
    width: 2.5vw; 
    min-width: 42px; 
    height: 10%;
    min-height: 20px; 
    font-weight: bold;
    outline: none;
}

button#pu_btn {
    height: 25px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

button#ctrl_layer_l:hover, button#ctrl_layer_i:hover, button#ctrl_layer_s:hover{
    border: 1px solid var(--silver) !important;
    background: var(--greyD);
}

button#lbl_submit, button#lbl_cancel {
    width: 40px;
    min-width: 40px;
    height: 25px;
    position: absolute;
    margin: 10px;
    border: 1px solid transparent;
}

button#tut_nxt, button#tut_skp {
    width: 5vw;
    min-width: 60px;
    height: 3vh;
    min-height: 25px;
    border: 1px solid transparent;
    font-weight: normal;
}
button#tut_start {
    width: 8vw;
    min-width: 80px;
    height: 4vh;
    min-height: 35px;
    border: 1px solid transparent;
    font-weight: normal;
}

button#kind_sel {
    margin-right: 5px; 
    height: 3vh;
}

button[onClick="pu_cancel()"]:hover, button#lbl_cancel:hover {
    background: var(--redD);
}

button:hover {
    background: var(--greenD);
    cursor:pointer;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    background: var(--greyD);
    color: var(--white);
    border: none;
    border-radius: 5px;
    width: 2.5vw; 
    min-width: 42px; 
    height: 25px;
    margin-right: 5px;
}
.custom-file-upload:hover {
    background: var(--greenD);
}

/* Dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    line-height: 1;
    width: 8vw;
    min-width: 180px;
    height: 20px;
    transform: translate(0px,0.5px);
    background-color: var(--white);
    background-image: linear-gradient(var(--white), var(--white)),
      linear-gradient(-135deg, transparent 50%, var(--white) 50%),
      linear-gradient(-225deg, transparent 50%, var(--white) 50%),
      linear-gradient(var(--white) 42%, var(--white) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
}
  
select:hover {
    background-image: linear-gradient(var(--greenL), var(--greenL)),
      linear-gradient(-135deg, transparent 50%, var(--greenL) 50%),
      linear-gradient(-225deg, transparent 50%, var(--greenL) 50%),
      linear-gradient(var(--greenL) 42%, var(--greenL) 42%);
}

.nav_panel {
    position: absolute;
    left: 27px;
    bottom: 6vw;
    text-align: left;
    width: 10vw;
    min-width: 100px;
    height: 40vh;
    padding-right: 3vw;
    transition: width 0.5s, height 0.5s;
    margin-bottom: 3.2vw;
}
.nav_panel:hover{
    width: 15vw;
    height: 40vh;
    transition: width 0.5s, height 0.5s;
}

.ctrl_ov {
    border: 2px solid var(--silver);
    width: 100%;
    padding-top: 75.75%;
    border-radius: 10px;
    margin-bottom: 20vh;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.ctrl_ov:hover {
    border: 2px solid var(--greenL);
}

/* Slider */
#ctrl_rotate {
    border-radius: 8px;
    height: 0.15vw;
    min-height: 2px;
    max-height: 5px;
    width: 100%;
    transform: translate(-3px);
    -webkit-appearance: none;
    cursor: pointer;
    box-shadow: 0 0 3px var(--black);
    outline: none;
}

#ctrl_rotate::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    cursor: ew-resize;
    background: var(--white);
    border: 1px solid;
    border-color: var(--silver);
}

/* Button Toggle */
.btn_toggle {
    height: 4vh;
    min-height: 20px;
    width: 7vw;
    min-width: 100px;
    line-height: 4vh;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    padding: 5px;
    margin: 10px;
    font-size: max(2vh,14px);
    display: table;
}

.btn_toggle#ctrl_edit{
    background-color: var(--greyD);
    border: 4px solid transparent;
}

.btn_toggle#ctrl_edit:hover{
    border: 4px solid var(--greenD);
}

.btn_toggle#ctrl_edit[data-checked="true"] {
    border: 4px solid var(--greenD); 
}

.btn_toggle#ctrl_st{
    background-color: var(--greenD);
    border: 4px solid transparent;
}
.btn_toggle#ctrl_st:hover{
    border: 4px solid var(--silver);
    background-color: var(--purpleD);
}

.btn_toggle#ctrl_st[data-checked="true"] {
    background-color:var(--purpleD);
}

.btn_toggle#kind_note, .btn_toggle#kind_label{
    background-color: var(--greyD);
    border: 1px solid transparent;
    width: 1.5vw;
    min-width: 25px;
    height: 2.5vh;
    min-height: 25px;
    margin: 0;
}
.btn_toggle#kind_note:hover, .btn_toggle#kind_label:hover{
    border: 1px solid var(--silver) !important;
}
.btn_toggle#kind_note[data-checked="true"], .btn_toggle#kind_label[data-checked="true"]{
    background-color: var(--greenD);
    border: 1px solid transparent;
}

.icon-pos{
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

/* Markdown Info Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    height: 2%;
    font-size: 12px;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 10vw;
    background-color: var(--white90);
    color: var(--black);
    font-size: max(1.5vh,11px);
    text-align: left;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -100px;
    border-radius: 5px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* TUTORIAL */
.tut {
    position: absolute; 
    background-color: #fff; 
    z-Index: 1605;
    top: 10%; 
    left: 27px; 
    width: 35vw; 
    height: 32vh; 
}


/* Caaarl animation */

.carl {
    background-color: var(--white90);
    box-shadow: 0 0 3px var(--black);
    position:absolute;
    z-Index: 2001;
    display: none;
}
.c1 {
    right: 9.5vw;
    bottom: 4.1vw;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}
.c2 {
    right: 10.05vw;
    bottom: 4.5vw;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -webkit-animation: c-fadeIn 0.4s;
    animation: c-fadeIn 0.4s;
}
.c3 {
    right: 10.5vw;
    bottom: 5.1vw;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    -webkit-animation: c-fadeIn 0.7s;
    animation: c-fadeIn 0.7s;
}
.c4 {
    right: 2.5vw;
    bottom: 6.1vw;
    width: 12vw;
    height: 8vw;
    border-radius: 10px;
    -webkit-animation: c-fadeIn 1s;
    animation: c-fadeIn 1s;
    padding: 10px;
    color: var(--black);
    text-align: left;
    overflow: hidden;
    display: none;
}