@font-face {
    font-family: 'mySlab';
    src: url('/fonts/GE703XBC.TTF') format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/google-fonts/truetype/TitilliumWeb-Regular.ttf) format('truetype');
}

html{
    font-family: 'Titillium Web', sans-serif !important;
}
::selection{
    color:#fff;
    background:#00a104;
}
::-moz-selection{
    color:#fff;
    background:#00a104;
}

a{
    color: #00a104 !important;
}

h1{
    color: #00a104 !important;
    font-family: mySlab;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    font-size: max(3.5vh,20px);
    font-weight: normal;
    text-align: center;
    margin: 5px !important;
}

h1#title {
    letter-spacing: 0.12vw;
}

textarea{
    width: 100%; 
    resize: none;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}

p{
    vertical-align: top;
    margin: 0px !important;
}
.content{
    height: 84%; 
    width: 100%;
    background: #000;
    overflow: hidden;
    font-size: max(1.75vh,12px);
    padding-right: 20px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.content:hover{
    overflow: auto;
    padding-right: 10px;
}

.content_ta{
    height: 80%; 
    width: 100%;
    background: #000;
    overflow: auto;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: max(1.75vh,12px);
}

.title{
    height: 5%; 
    width: 100%;
    background: #000;
}

.title_ta{
    height: 5%; 
    width: 100%;
    background: #000;
    padding-top: 1.25%;
    font-family: 'Titillium Web', sans-serif !important;
    overflow: hidden;
}

/* leaflet popup */
.leaflet-popup-content{
    width: 90% !important;
    height: 95% !important;
    margin: 5%;
}

.leaflet-popup-content-wrapper {
    width: 500px;
    height: 600px;
    background: #000000;
    color: #ffffff;
    border: 2px solid;
    border-color: #00a104;
    border-radius: 0px;
    box-shadow: none;
}

.leaflet-popup-tip-container {
	width: 490px;
    height: 50px;
    background: transparent;
    margin: -2px;
    border: none;
    border-top: 2px solid;
    border-color: #00a104;
    box-shadow: none;
}
    
.leaflet-popup-tip {     
    background: transparent;
    border: none;
    box-shadow: none;
    }

/* SCROLLBAR */
/* Chrome */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00a104;
}    

/* Firefox */
.scroll {
    scrollbar-width: 10px;
    scrollbar-color: #00a104 transparent;
}

/* attribution style */
.leaflet-control-attribution{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #ffffff;
}

/* fix seams between tiles */
.leaflet-tile-container img {
    width: 256.5px !important;
    height: 256.5px !important;
}

.leaflet-control-attribution{
    font-size: max(1.5vh,12px) !important;
}

.leaflet-control-mouseposition{
    font-size: max(1.5vh,12px) !important;
}

.leaflet-container {
    font-family: 'Titillium Web', sans-serif !important;
}

/* CONTROLS */
.stories-outer{
    width: 19.7vw; 
    min-width: 250px;
    height: 75vh;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    display: none;
}

.stories-panel {
    background:rgba(255,255,255,0.9); 
    height: 75vh;
    overflow-y: scroll;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .stories-panel {
        background:rgba(255,255,255,0.7); 
        height: 75vh;
        overflow-y: scroll;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

.stories-panel_tiles{
    width: 17.73vw;
    min-width: 225px;
    height: 15vw;
    min-height: 200px;
    margin: 5%;
    overflow: hidden;
    cursor: pointer;
}

.stories-panel_tiles_title{
    height: 40%;
    color: #000;
    font-family: mySlab;;
    font-size: max(max(3.5vh,2vw),30px);
    text-align: left;
    vertical-align: middle;
    line-height: max(3.5vh,25px);
    padding-top: max(1vh,10px);
}

.story-outer{
    width: 35vw;  
    min-width: 400px;
    height: 75vh;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    display: none;
}
.story {
    position: relative;
    background:rgba(255,255,255,0.9); 
    height: 71vh;
    padding: 2vh;
    overflow-y: scroll;
    color: #000;
    font-size: max(2vh,12px);
    text-align:left;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .story {
        position: relative;
        background:rgba(255,255,255,0.7); 
        height: 71vh;
        padding: 2vh;
        overflow-y: scroll;
        color: #000;
        font-size: max(2vh,12px);
        text-align:left;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

/* About Panel */
.about-outer{
    position: absolute;
    left: 0px;
    width: 30vw; 
    min-width: 500px;
    height: 45vh;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 18px;
    margin-top: 5px;
}
.about-panel {
    position: absolute;
    left: 0px;
    text-align: left;
    font-size: max(1.75vh,12px);
    color: #000;
    padding: 2vh;
    background:rgba(255,255,255,0.9); 
    height: 41vh;
    overflow-y: scroll;
}
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))){
    .about-panel {
        position: absolute;
        left: 0px;
        text-align: left;
        font-size: max(1.75vh,12px);
        color: #000;
        padding: 2vh;
        background:rgba(255,255,255,0.7); 
        height: 41vh;
        overflow-y: scroll;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

/* Buttons */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #333;
    color: #fff;
    border: none;
    width:35%; 
    min-width: 30px; 
    height: 10%;
    min-height: 20px; 
    font-weight: bold;
}

button#pu_btn {
    height: 25px;
    color: #fff;
    width: 3vw;
    border-radius: 5px;
}

button:hover {
    background: #005201;
    cursor: pointer;
}

/* Dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    line-height: 1;
    width: 8vw;
    min-width: 180px;
    height: 20px;
    transform: translate(0px,0.5px);
    background-color: #fff;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(-135deg, transparent 50%, #fff 50%),
      linear-gradient(-225deg, transparent 50%, #fff 50%),
      linear-gradient(#fff 42%, #fff 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
}
  
select:hover {
    background-image: linear-gradient(#00a104, #00a104),
      linear-gradient(-135deg, transparent 50%, #00a104 50%),
      linear-gradient(-225deg, transparent 50%, #00a104 50%),
      linear-gradient(#00a104 42%, #00a104 42%);
}

.nav_panel {
    text-align: center;
    width: 10vw;
    min-width: 100px;
    height: 40vh;
    margin: 0 0 -1.5vw 27px !important;
    padding-right: 3vw;
    transition: width 0.5s, height 0.5s;
}
.nav_panel:hover{
    width: 15vw;
    height: 40vh;
    transition: width 0.5s, height 0.5s;
}

.ctrl_ov {
    border: 2px solid #ccc;
    width: 100%;
    padding-top: 75.75%;
    border-radius: 10px;
    margin-bottom: 20vh;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.ctrl_ov:hover {
    border: 2px solid #00a104;
}

/* Slider */
#ctrl_rotate {
    border-radius: 8px;
    height: 0.15vw;
    min-height: 2px;
    max-height: 5px;
    width: 100%;
    transform: translate(-3px);
    -webkit-appearance: none;
    cursor: pointer;
}

#ctrl_rotate::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    cursor: ew-resize;
    background: #fff;
    border: 1px solid;
    border-color: #ccc;
}

/* Button Toggle */

.btn_toggle {
    height: 4vh;
    min-height: 20px;
    width: 7vw;
    min-width:50px;
    line-height: 4vh;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    padding: 5px;
    margin: 5px 5px 5px 5px;
    font-size: max(2vh,14px);
}

.btn_toggle#ctrl_edit{
    background-color: #333;
    border: 4px solid transparent;
}

.btn_toggle#ctrl_edit:hover{
    border: 4px solid #ccc;
}

.btn_toggle#ctrl_edit[data-checked="true"] {
    border: 4px solid #ccc; 
}

.btn_toggle#ctrl_st{
    background-color: #005201;
    border: 4px solid transparent;
}
.btn_toggle#ctrl_st:hover{
    border: 4px solid #ccc;
}

.btn_toggle#ctrl_st[data-checked="true"] {
    border: 4px solid #ccc;
}

/* Markdown Info Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    height: 2%;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #fff;
color: #000;
text-align: left;
padding: 5px;
position: absolute;
z-index: 1;
top: 150%;
left: 50%;
margin-left: -60px;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}
